.user {
  color: #ffffff;
  margin-left: 1100px;
}

.ic {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.hdu {
  padding: 25px 18px;
  font-family: "Poppins", sans-serif;
  background-color: #d32f2f;
}
