.messages-conversation .conversation-container-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages-conversation .conversation-image-container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  padding: 10px;
  margin-bottom: 10px;
}
.messages-conversation .conversation-image-error {
  width: 70%;
  object-fit: contain;
  box-sizing: border-box;
  margin: 0;
}
.conversation-message-error {
  text-align: center;
}
