.notification-context-details-message {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #f0fdf4;
  border-radius: 0.8em;
  padding: 1em;
}
.message-preview {
  background-color: white;
  border-radius: 0.7em;
  height: 3em;
  display: flex;
  align-items: center;
  padding: 1em;
  border: #e4e6ea solid 0.1em;
  font-style: italic;
  font-size: 0.9rem;
}
.notification-context-details-message button {
  border: none;
  background-color: #16a34a;
  color: white;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 0.5em;
}
.notification-context-details-message button:hover {
  background-color: #118e3e;
  transition: background-color 0.1s ease-in-out;
}
.notification-context-details-message img {
  object-fit: cover;
  height: 90%;
}
