/* Body */
.account-form {
  padding: 2em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.account-form input,
select {
  padding: 0.5em;
  border: 1px solid lightgray;
  border-radius: 0.3em;
}
