#settings-notifications .content-body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 5em);
  overflow: auto;
  box-sizing: border-box;
}
/*Body*/
.notifications-items {
  border-bottom: 1px solid lightgray;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5em;
}
.notification-item-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6b7280;
  gap: 0.5em;
}
.notification-item-label h3 {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
.notification-item-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-item-toggle input[type="checkbox"] {
  accent-color: #0075ff;
  width: 2.5em;
  height: 1.5em;
  position: relative;
  background-color: #c6c6c6;
  border-radius: 1.5em;
  transition: background-color 0.2s;
  cursor: pointer;
}

/*Footer*/
.notification-save-changes {
  font-weight: bold;
  height: 3rem;
  display: flex;
  border: none;
  background-color: #b91c1c;
  color: white;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: transform 0.1s ease-in-out;
}
.notification-save-changes:hover {
  background-color: #f36d6d;
}
.notification-save-changes:active {
  transform: translateY(2px);
}
.notification-save-changes img {
  object-fit: contain;
  height: 100%;
}
