.html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------*/
/* ADAPT */
@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 1024px) and(max-width:1439px) {
}

@media only screen and (min-width: 1440px) {
}
