.header {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30px;
  padding: 30px 30px;
  background-color: #d32f2f;
  color: white;
}

/* Left side - Logo */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  color: white;
}

.logo-text {
  font-weight: bold;
}

/* Center nav */
.center {
  flex: 1;
  text-align: center;
  align-self: flex-start;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar ul :hover {
  color: #b71c1c;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* Right side - Buttons */
.right {
  display: flex;
  gap: 12px;
  align-self: flex-start;
}

.btn2 {
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  color: #d32f2f;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

.btn2 :hover {
  /*not done */
  background-color: #0f0909;
  color: white;
}
