#settings-system .content-body {
  display: grid;
  grid-template-rows: repeat(1, 15em);
  overflow: auto;
  box-sizing: border-box;
  gap: 1em;
  padding: 1em;
}
/*Body*/

/*Information*/
.system-information {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.system-information h2 {
  height: 1em;
}
.system-information-content {
  flex: 1;
  background-color: #f9fafb;
  border: 2px solid #e5e7eb;
  border-radius: 1em;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "system-information-1 system-information-2"
    "system-information-3 system-information-4";
}
.system-information-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.system-information-content div p {
  margin: 0;
  margin: 0.5em;
}
.system-information-label {
  color: #6b7280;
}
.system-information-status {
  color: #16a34a;
}
/*system maintenance*/
.system-maintenance {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
  gap: 10px;
}

.system-maintenance-content,
.system-performance-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  height: 100%;
}

.system-maintenance-item {
  background-color: #f3f4f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #1f2937;
  font-weight: bold;
  border: none;
  transition: transform 0.15s ease-out;
}
.system-maintenance-item:active {
  transform: scale(0.96);
}
.system-maintenance-item img {
  object-fit: contain;
  height: 2em;
  margin-right: 1em;
}
/*system performance*/
.system-performance-item {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #6b7280;
  border: none;
  gap: 0.5em;
}
.system-performance-item .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.system-performance-item label,
.system-performance-item p {
  font-size: 0.8em;
  font-weight: bold;
}

.system-performance-item .percentage-bar {
  position: relative;
  background-color: #e5e7eb;
  border-radius: 4px;
  height: 8px;
  overflow: hidden;
}

.system-performance-item .percentage-bar .fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  transition: width 0.4s ease;
}
