.job-edit-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}

.editjob-modal-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
    width: 70%;
    width: 700px;
    height: 500px;
    max-width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.editjob-header {
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/* --------------------------------------- */
.modal-close-editjob {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    color: #6B7280;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

/* ----------------------------------- */
.jobedit-topbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 15px;
}
/* ------------------------------------------ */
.btn-confirm-edit{
    background-color: #d61c1c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-editjob-cancel{
    background-color: #6B7280;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
.add-req-ben-edit{
    justify-items: left;
    padding: 8px;
    background-color: #d61c1c;
    color: white;
    border: none;
    border-radius: 4px;
}