.settings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "side-bar content-area content-area";
  height: 100vh;
  gap: 0.5em;
}
/* SIDE BAR */
.settings-side-bar {
  border-radius: 0.5em;
  padding: 1em;
  background-color: white;
  display: grid;
  grid-auto-flow: row;
  gap: 0.3rem;
  grid-template-rows: repeat(7, 3rem);
  height: auto;
}
.side-bar-item {
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: start;
  padding-left: 2.5em;
  transition: transform 0.1s ease-in-out;
}
.side-bar-item:hover {
  color: #b91c1c;
  background-color: #fee2e2;
}
.side-bar-item:active {
  transform: translateY(2px);
}
.side-bar-item-active {
  color: #b91c1c;
  background-color: #fee2e2;
}
/* CONTENET AREA */
.settings-content-area {
  height: auto;
}
.content-active {
  padding: 1em;
  height: 100%;
  background-color: white;
}
.settings-content-area,
.content-active {
  border-radius: 0.5em;
}
.content-hide {
  display: none !important;
}
