.documents-modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}
.documents-body{
     background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
    width: 70%;
    max-width: 700px;
    height: 500px;
    max-width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}