.sub-head {
  padding: 19px 10px;
  font-family: "Poppins", sans-serif;
  background: #d32f2f;
  text-align: center;
  color: white;
}

.head-title {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}

.head-descript {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 30px;
}
.about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/*-------------------------MAIN INFO-----------------------------*/
.main-info {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.sub-main {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 23px 23px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 1250px;
  height: 1100px;
}

.sub2-main {
  display: flex;
  gap: 30px;
}

.main-title2 {
  color: #d32f2f;
  font-size: 20px;
}

.box-main {
  width: 570px;
  height: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

.vision-mission {
  height: 350px;
  width: 670px;
}

.vm-description {
  padding: 12px 12px;
  color: rgb(58, 55, 55);
}

/* ----------------------------------------------------------------- */
.abt-company {
  display: flex;
  justify-content: left;
  padding: 3px;
}

.abt-info {
  text-align: left;
  color: rgb(58, 55, 55);
}

/* ---------------------------------------------------------------------- */
.commit-title {
  font-size: 22px;
}

.commit-sub {
  font-size: 16px;
  color: rgb(41, 41, 41);
  font-weight: 10px;
}

.commit-descript {
  color: rgb(58, 55, 55);
}

/* -----------------------------------------OUR CORE VALUES------------------------------------------ */
.values {
  font-family: "Poppins", sans-serif;
}

.values-title {
  text-align: center;
}


/* ---------------------------------OUR SERVICES------------------------------------ */
.services-space {
  background-color: rgb(247, 247, 247);
  height: 1450px;
}

.services-title {
  padding: 40px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 30px;
}

.services-place {
  display: flex;
  justify-content: center;
}

.services-box {
  background-color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 35px 35px;
  width: 1190px;
  height: 290px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.services-info {
  letter-spacing: 1px;
  color: rgb(105, 104, 104);
}

.services-info02 {
  letter-spacing: 1px;
  color: rgb(46, 46, 46);
}

/* ----------------------------CORE VALUES----------------------------- */
.values-space{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   gap: 40px;
   padding: 20px 20px;
}
.values-title{
  font-size: 29px;
}
.values-box {
  background-color: #ffe7e7;
  padding: 20px;
  width: 230px;
  height: 120px;
  border-radius: 5px;
  text-align: center;
}
.info-info{
  font-weight: bold;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #ffcece;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 15px auto 15px auto;
}
/* ----------------------------------------------------------------- */
.questions{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.in-box{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.qz-space{
  font-family: "Poppins", sans-serif;
  padding: 40px 40px;
  width: 1190px;
  height: 750px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.qz-box{
  padding: 20px 20px;
  width: 320px;
  height: 150px;
  border-radius: 8px;
  line-height: 1.6;
  border: 2px solid rgb(235, 233, 233);
  background-color: white;
}
.level{
  color: #be2c2c;
  font-weight: bold;
}
.level-dc{
  color: rgb(105, 104, 104);
}