.txtwelcome {
  font-family: "Poppins", sans-serif;
  background: #d32f2f;
  text-align: center;
  color: white;
  padding: 80px 20px;
}

.txtwelcome h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.txtwelcome h2 {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.txtwelcome-buttons {
  display: flex;
  justify-content: center;
}

.btn-primary-home {
  background: white;
  color: #c51b1b;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  margin-left: -15px;
  border: 2px solid rgb(156, 11, 11);
}

.btn-secondary-home {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 18px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btn-secondary-home:hover {
  background: #e21010;
}

 .btn-primary-home:hover {
  background: #d34242;
 }

.btp1 {
  text-decoration: none;
  color: #961010;
}
.btp1:hover{
  color: white;
}
.btp2 {
  text-decoration: none;
  color: white;
}

/*--------------------------------------------------------*/
.sub-info {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.sub-box {
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 270px;
  height: 120px;
  padding: 10px;
}

.num-box {
  color: #b71c1c;
  font-size: 34px;
}

.sub-num {
  font-size: 15px;
  color: #534f4f;
}

/*-------------------------------------------------------------*/
.last1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 70px;
}

.last1 h2 {
  color: #961010;
}

.last1 h4 {
  color: #857f7f;
}

.bxend {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 40px 20px;
}

.finalbx {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 5px;
}

.boxend {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 40px;
  text-align: left;
  margin-top: 25px;
}

.boxend h3 {
  color: #d32f2f;
}

.boxend h4 {
  margin-top: 10px;
  color: #857f7f;
}

.view-all {
  display: inline-block;
  margin-top: 20px;
  background-color: #d32f2f;
  color: white;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.view-all:hover {
  background-color: #b71c1c;
}

/* below */
.belowrv {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 80%, 96%);
  padding: 100px;
  margin-bottom: 25px;
}

.belowrv h2 {
  font-size: 25px;
  text-align: center;
  color: #d32f2f;
}

.belowrv h4 {
  color: #615b5b;
  text-align: center;
}

.belowview {
  display: flex;
  justify-content: center;
  gap: 23px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.reviewsbelow {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 30px;
  margin-top: 35px;
}

.reviewsbelow h4 {
  text-align: left;
  color: black;
}

.reviewsbelow p {
  text-align: left;
  color: #555151;
}

.jobm {
  margin-top: -15px;
  font-size: 14px;
}

.msend {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  margin-top: 15px;
  padding: 300px;
}

.lastsection {
  background-color: #b71c1c;
  color: white;
  text-align: center;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.lastsection h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.lastsection p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.bt {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.lbtn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.bt.rs {
  background: white;
  color: #b71c1c;
  border: none;
}

.bt.rs :hover {
  background-color: #f5f5f5;
}

.bt.lm {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.bt.lm :hover {
  background-color: white;
  color: #b71c1c;
}

/*-------------------------------FREQ - ASKED------------------------------------*/
.freq-ask {
  font-family: "Poppins", sans-serif;
}

.freq-title {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

.freq-space {
  display: flex;
  justify-content: center;
}

.freq-sub-title {
  font-size: 23px;
}

.freq-box {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  border-radius: 8px;
  width: 1260px;
  height: 560px;
  margin-bottom: 40px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 15px;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  /* expands */
  padding: 15px;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 19px;
  color: #b71c1c;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}