.header {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 20%;
  padding: 20px 30px;
  background-color: #d32f2f;
  color: white;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  color: white;
}

.logo-text {
  font-weight: bold;
}

/* Center nav */
.center {
  flex: 1;
  text-align: center;
  align-self: flex-start;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar ul :hover {
  color: #b71c1c;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* Right side - Buttons */
.right {
  display: flex;
  gap: 12px;
  align-self: flex-start;
}

.btn1 {
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  background-color: #d32f2f;
  transition: background-color 0.3s;
}

.btn2 {
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  color: #d32f2f;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

.btn2 :hover {
  /*not done */
  background-color: #0f0909;
  color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 1, 0.9);
}
#forgot-password {
  display: none;
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
    color: #d32f2f;
}

.input-group input {
    width: 100%;
    max-width: 330px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    margin-bottom: 25px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.btn1{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:#d32f2f;
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn1:hover{
    background:#af1414;
    color: white;
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:#d32f2f;
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
    color:#9c0f0f;
}
/* ------------------------------------POP UP(WRONG PASS)----------------------------------------- */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
  max-width: 350px;
}

.popup-content h3 {
  color: #c0392b;
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 12px;
  padding: 8px 20px;
  background: #c0392b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}