.Sr {
  text-align: left;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.Sr h2 {
  color: #d32f2f;
  font-size: 35px;
}

.Sr h4 {
  font-size: 15px;
  color: #868686;
}

.top-welcome {
  font-family: "Poppins", sans-serif;
  background: #d32f2f;
  text-align: center;
  color: white;
  padding: 19px 10px;
}

.top-welcome h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.top-welcome h4 {
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 30px;
}

.info-process {
  padding: 40px 20px;
  background-color: #f1f1f1;
}

.box-service {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 5px;
}

.infop-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 40px;
  text-align: left;
  margin-top: 25px;
}

.infop-box p {
  font-size: 16px;
  color: #757474;
}

/*--------------------------------------------------------*/
.rec-process {
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.rec-title {
  text-align: center;
}

.rec-info {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.rec-box {
  text-align: center;
  max-width: 280px;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #fdeaea;
  /* Light red background */
  color: #b53030;
  /* Dark red text */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 15px auto 15px auto;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-left: 10px;
  margin-right: 10px;
}

/*=================================================*/
.offer-below {
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
  margin-top: 80px;
  background-color: #f7f7f7;
}

.offer-title {
  text-align: center;
  padding: 50px;
  font-size: 28px;
}

.offer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.o-text {
  flex: 1;
}

.offer-box {
  padding: 20px;
  max-width: 600px;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.o-circle {
  width: 50px;
  height: 50px;
  background-color: #fdeaea;
  color: #b53030;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.f-description {
  color: #555;
  font-size: 15px;
  line-height: 1.4;
}

.f-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lastlast {
  background-color: #b71c1c;
  color: white;
  text-align: center;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.bt-rs {
  background: white;
  color: #b71c1c;
  border: none;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.bt-lm {
  background: #b71c1c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid white;
  text-decoration: none;
}